{% extends 'navBar.html' %}


{% block content %}
<div class="w3-container w3-center">
	<span class= "w3-container w3-cell-row" style="width:100%">
		<span class="w3-cell" style="width:50%">
			<span class="w3-cell-row">
				<span class="w3-jumbo w3-cell-middle fas fa-wrench"></span>
				<h2 class="w3-cell w3-center">Bienvenido a la version Alpha de la plataforma.</h2>
				<span class="w3-jumbo w3-cell-middle fas fa-wrench"></span>
			</span>
		</span>
	</span>
	<hr>
	<p>Utiliza la barra de navegación para visitar las diferentes secciones.</p>
	<p>Perdona el desorden y el escaso talento artistico. Estamos trabajando para
	que el backend sea lo mas robusto y fiable posible primero. </p>
</div>
{% endblock %}