{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Trading Management (Alpha)</title>
  <meta name="description" content="Trading Management">
  <meta name="author" content="Oma-Devs">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body class="w3-container">
<div class="w3-container"> 
	<h1 class="w3-center">Trading Management</h1>
</div>
<div class="w3-bar">
	<p class="w3-bar-item w3-button w3-mobile">Trading</p>
	<p class="w3-bar-item w3-button w3-mobile">Traded</p>
	<p class="w3-bar-item w3-button w3-mobile">Section</p>
	<p class="w3-bar-item w3-button w3-mobile">Section</p>
</div>
{% block content %}
{% endblock %}
</body>
</html>