{% extends 'navBar.html' %}


{% block content %}
{% for asset in assets %}
<h2>Resument de Trades {{asset.name}}</h2>
<ul>
	<li>Ganados: {{asset.good}}</li>
	<li>Perdidos: {{asset.bad}}</li>
	<li>Efectividad: {{asset.percGood}}</li>
	<li>Beneficio: {{asset.benefit}} {{asset.name}}</li>
</ul>
{% endfor %}
<h2>Lista de Trades Completa</h2>
<table class="w3-table-all">
<th class="w3-center">RESULTADO</th>
<th class="w3-center">PAR</th>
<th class="w3-center">STOP</th>
<th class="w3-center">EVAL</th>
<th class="w3-center">LIMIT</th>
<th class="w3-center">SELL</th>
<th class="w3-center">BASE QTY</th>
<th class="w3-center">ASSET QTY</th>
<th class="w3-center">INICIO</th>
<th class="w3-center">FIN</th>
{% for row in syms %}
<tr class="w3-center">
	{% if row.tradeEND == True %}
		<td class="fas fa-thumbs-up w3-center w3-green"></td>
	{% else %}
		<td class="fas fa-skull w3-center w3-red"></td>
	{% endif %}
	<td class="w3-center"><a href="{% url 'Graph' %}?sym={{row.symbol}}">{{row.symbol}}</a></td>
	<td class="w3-center">{{row.stop}}</td>
	<td class="w3-center">{{row.evalPrice}}</td>
	<td class="w3-center">{{row.limit}}</td>
	<td class="w3-center">{{row.sell}}</td>
	<td class="w3-center">{{row.baseQty}}</td>
	<td class="w3-center">{{row.assetQty}}</td>
	<td class="w3-center">{{row.evalTS}}</td>
	<td class="w3-center">{{row.endTS}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}